h1,
h2,
h3 {
    font-family: serif;
}

.badge {
    line-height: normal;
}

input[type='Checkbox'] {
    zoom: 1.4
}

.form-check span.mdi-star,
.card-body span.mdi-star {
    font-size: 23px;
    margin-right: -8px;
    display: inline-block;
    margin-top: -5px;
}

.card {
    border-width: 3px;
    margin-bottom: 20px;
}

.menu-active::after {
    font-family: 'Material Designer Icons';
    content: '\F0140';
    color: #fff;
}