/* Extra small devices (portrait phones, less than 576px)*/

@media (min-width: 10px) and (max-width: 575.98px) {
    #menu-master {
        justify-content: center !important;
        zoom: 1.4;
    }
    #menu-master li:not(.menu-active) {
        display: none;
    }
    #estrelas {
        display: none;
    }
    #lg {
        display: none;
    }
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    #menu-master {
        justify-content: center !important;
        zoom: 1.4;
    }
    #menu-master li:not(.menu-active) {
        display: none;
    }
    #estrelas {
        display: none;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    #menu-master {
        justify-content: center !important;
        zoom: 1.4;
    }
    #menu-master li:not(.menu-active) {
        display: none;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}